  /* FONTS */

  @font-face{
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata.otf");
  }
  
  @font-face{
    font-family: Village;
    src: url("../fonts/Village-wLn3.ttf");
  }

  @font-face{
    font-family: Sekogure;
    src: url("../fonts/Sekogure.ttf");
  }

/* Parallax */

  .parallax {
    /* The image used */
    background-image: url("CitySkyline.jpg");

    /* Set a specific height */
    height: 100vh;

    top: 10px;
    height: 250vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
}
  

/* Landing Page */

  #name {
    font-family: Village;
    color:#E399A3;
    font-size: 15vw;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  #title {
    font-family: Inconsolata;
    color:black;
    font-size: 2vw;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  #landing {
      background-color: #F5EFF0;
  }

/* Body */

 .header {
    font-size: 300%;
    position: relative;
    /* -webkit-text-stroke: 3px #CF651A ; /* width and color */
    font-family: Sekogure; color: #CF651A ;
    margin-left: 5px;
    margin-right: 5px;
 }

 .textbox {
    position: relative;
    font-family: Inconsolata;
    margin-left: 5px;
    margin-right: 5px;
 }

 .name {
  font-size: 20px;
 }

 #more_info{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    background-image: url("../images/background_about.png");
    
 }

 td {
    padding-top: 50px;
    padding-bottom: 50px;

 }


 .parallax-secongg {
    top:0;
    position: relative;
    /* Set a specific height */
    height: 20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  80% ;
    background-repeat: no-repeat;
    background-size: 40vh;
}


.parallax-second {
    
    /* Set a specific height */
    height: 100vh;

    top: 10px;
    height: 250vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
}

#quote {
  font-size: 10vw;
}
  


/* Footer */

footer {
  font-family: Inconsolata;
  background-color: #054C2E;
  color: #F5EFF0;
  padding: 30px;
}

.fa {
  color: #F5EFF0;
  background: #CF651A ;
  padding: 10px;
  font-size: 200px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

a, a:visited {
  text-decoration: none;
}
  
