  body {
    width: 100%;
  }
  /* FONTS */

  @font-face{
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata.otf");
  }
  
  @font-face{
    font-family: Village;
    src: url("../fonts/Village-wLn3.ttf");
  }

  @font-face{
    font-family: Sekogure;
    src: url("../fonts/Sekogure.ttf");
  }

  /* Parallax */

  .parallax {
    /* The image used */
    background-image: url("CitySkyline.jpg");

    /* Set a specific height */
    height: 100vh;

    top: 10px;
    height: 250vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
  }



  .projects-parallax {
    /* The image used */
    background-color:#F5EFF0;
    
    /* Set a specific height */
    width:  100%;
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
  }

   .about-me-parallax {
    /* The image used */

    /* Set a specific height */
    width:  100%;
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
  }
  

  

  /* Landing Page */

  #name {
    font-family: Village;
    color:#E399A3;
    font-size: clamp(5rem, 13vw, 3rem);
    position: fixed;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
     transition:left 2s, visibility 2s;
     -moz-transition:left 2s; /* Firefox 4 */
     -webkit-transition:left 2s; /* Safari and Chrome */
     -o-transition:left 2s;
  }

  #title {
    font-family: Inconsolata;
    color:black;
    font-size: 2vw;
    position: relative;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .title {
    font-family: Inconsolata;
    color:black;
    font-size: clamp(.95rem, 1vw, 2rem);
  }

  #icons {
    font-size: 1vw;
    display: none;
    text-align: center;
  }

  .fa:hover{
    color: #054C2E ;
    background: #F5EFF0;
  }

  #landing {
    background-color: #F5EFF0;
  }

  /* Body */

  .header {
    font-size: calc(12px + 3vw);
    position: relative;
    /* -webkit-text-stroke: 3px #CF651A ; /* width and color */
    font-family: Sekogure; color: #CF651A ;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 20px;
  }

  .textbox {
    position: relative;
    font-family: Inconsolata;
    margin-left: 2px;
    font-size: clamp(2rem, 1.2vw, 2rem);
  }

  .name {
    font-size: clamp(1.5rem, 1.5vw, 3rem);
  }

  #name1{
     font-size: clamp(13vw, 13vw, 2rem); 
     transition:font-size 2s;
     -moz-transition:font-size 2s; /* Firefox 4 */
     -webkit-transition:font-size 2s; /* Safari and Chrome */
     -o-transition:font-size 2s;
  }

  #more_info{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    
  }

  #experience {
    text-align: right;
    margin-left: 20%;
    margin-right: clamp(0rem, 22vw, 3rem);
    padding-left: 100px;
  }

  #contact {
    text-align: right;
    margin-left: 20%;
    margin-right: clamp(0rem, 22vw, 3rem);
    padding-left: 100px;
    display: none;
  }

  #projects {
    margin: 0 auto; 
    width: 100%;
    text-align: right;
    margin-left: 20%;
    margin-right: clamp(0rem, 22vw, 3rem);
  }


  



  /* Portfolio */



  .parallax-second {
    /* Set a specific height */
    height: 100vh;

    /*top: 10px;*/
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
  }


  .fa {
    transition: background 1.5s, color 1.5s;
    color: #F5EFF0;
    background: #054C2E ;
    padding: 10px;
    font-size: clamp(3rem, 2.5vw, 2rem);
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    size: clamp(3rem, 2.5vw, 2rem);
  }

  a, a:visited {
    text-decoration: none;
  }

  #portfolio img {
    visibility: hidden;
  }

  #portfolio {
   background-color:  #F5EFF0;
 }

 .portfolio-icon {
    width: clamp(15rem, 20vw, 30rem);
    transition: opacity .3s, filter 1.5s;
    
 }

 .portfolio-icon:hover {
    opacity: 1;
    filter: grayscale(100%); 
 }

 /* contact */
 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



