  /* FONTS */

  @font-face{
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata.otf");
  }
  
  @font-face{
    font-family: Village;
    src: url("../fonts/Village-wLn3.ttf");
  }

  @font-face{
    font-family: Sekogure;
    src: url("../fonts/Sekogure.ttf");
  }

  /* Parallax */

  .parallax {
    /* The image used */
    background-image: url("CitySkyline.jpg");

    /* Set a specific height */
    height: 100vh;

    top: 10px;
    height: 250vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
  }
  

  /* Landing Page */

  #name {
    font-family: Village;
    color:#E399A3;
    font-size: 13vw;
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
     transition:left 2s, visibility 2s;
     -moz-transition:left 2s; /* Firefox 4 */
     -webkit-transition:left 2s; /* Safari and Chrome */
     -o-transition:left 2s;
  }

  #title {
    font-family: Inconsolata;
    color:black;
    font-size: 2vw;
    position: relative;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  #icons {
    font-size: 1vw;
    display: none;
    text-align: center;
  }

  .fa:hover{
    color: #054C2E ;
    background: #F5EFF0;
  }

  #landing {
    background-color: #F5EFF0;
  }

  /* Body */

  .header {
    font-size: calc(12px + 3vw);
    position: relative;
    /* -webkit-text-stroke: 3px #CF651A ; /* width and color */
    font-family: Sekogure; color: #CF651A ;
    margin-left: 5px;
    margin-right: 5px;
  }

  .textbox {
    position: relative;
    font-family: Inconsolata;
    margin-left: 5px;
    margin-right: 5px;
  }

  .name {
    font-size: 20px;
  }

  #name1{
     transition:font-size 2s;
     -moz-transition:font-size 2s; /* Firefox 4 */
     -webkit-transition:font-size 2s; /* Safari and Chrome */
     -o-transition:font-size 2s;
  }

  #more_info{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100%;
    background-image: url("../images/background_about.png");
    
  }

  #experience {
    width: 50%;
    text-align: right;
    margin-left: 25%;
    margin-right: 25%;
  }

  td {
    padding-top: 50px;
    padding-bottom: 50px;

  }


  /* Portfolio */



  .parallax-second {
    /* Set a specific height */
    height: 100vh;

    /*top: 10px;*/
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  100% ;
    background-repeat: no-repeat;
    background-size: 80vh;
  }

  #quote {
    font-size: 10vw;
    position: relative;
    background-image: url("../images/background3.png");
  }
  


  /* Footer */

  footer {
    font-family: Inconsolata;
    background-color: #054C2E;
    color: #F5EFF0;
    padding: 30px;
    bottom: 0;
    width: 100%;
  }

  .fa {
    color: #F5EFF0;
    background: #054C2E ;
    padding: 10px;
    font-size: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  a, a:visited {
    text-decoration: none;
  }

  #contact-me {
    font-size: 12px;
    color: #F5EFF0;
  }

  #portfolio img {
    visibility: hidden;
  }

  #portfolio {
   background-color:  #F5EFF0;
 }

