		body {
			margin: 0px;
			padding: 0px;
			background-color: white;
		}

	

		.centered {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}

		#landing {
			margin-left: 35%;
			margin-right: 35%;
			margin-top: 20%;
			text-align: center;
			color: #F7F2F2;
			font-family: Inconsolata;
			font-size: 5vw;

		}

		#landing:hover{
			background-color: #F7F2F2;
			color: #323232;
		}


		.centered {
		  position: relative;
		  top: 20%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}

		.right {
		 	position: absolute;
  			top: 8px;
  			right: 16px;	 
		}

		.item {
	        padding: 0px 0px 0px 16px !important;
	        border: none;
	        vertical-align: middle;
	        height: 48px;
	        line-height: 48px;
	        float:left;
	    }

		.nextButton {
		  	background-color: white; 
		  	border: solid 6px whitesmoke;
		  	color: #fee3a4;
		  	width:70px;
  			height: 70px;
		  	text-align: center;
		  	text-decoration: none;
		  	font-size: 20px;
		  	cursor: pointer;
		  	border-radius: 100%;
		  	visibility: hidden;
		} 

		.nextButton:hover {
			border: solid 10px whitesmoke;
		}

		@font-face{
			font-family: Magenta;
			src: url("Magenta Demo.ttf");
		}

		@font-face{
			font-family: Noodle;
			src: url("fonts/noodle_oblique.ttf");
		}

		@font-face{
			font-family: Inconsolata;
			src: url("Inconsolata.otf");
		}

		@font-face{
			font-family: boldfont;
			src: url("theboldfont.ttf");
		}



		#about img {
			width: 50%;s

		}
		h4 {
			font-family: Magenta;
			color: black;
			padding: 0;
			margin-left: 150px;
		}

		nav {
			text-align: center;
			text-decoration: none;
			font-size: 20px;
		}

		nav a {
			text-decoration: none;
			color: gray;
			font-family: boldfont;
		}

		nav a:hover {
			text-decoration: none;
			color: #8E2612;;
			font-family: boldfont;
		}

		nav ul {
		  list-style-type: none;
		}

		nav li {
		  padding-left: 10px;
		  padding-right: 10px;
		  display: inline;
		}

		.textbox {
			text-align: left;
			margin-left: 150px;
			margin-right: 150px;
			font-family: Inconsolata;
			font-size: 20px;
			height: 6cm;
		}

		.name {
			font-family: boldfont;
			font-size: 15px;
			color: gray;
		}


		.fa {
		  padding: 20px;
		  font-size: 30px;
		  width: 20px;
		  text-align: center;
		  text-decoration: none;
		  margin: 5px 2px;
		  border-radius: 50%;
		}

		.fa:hover {
		    opacity: 0.7;
		}

		.fa-facebook {
		  background: #3B5998;
		  color: white;
		}

		.fa-twitter {
		  background: #55ACEE;
		  color: white;
		}

		.fa-google {
		  background: #dd4b39;
		  color: white;
		}

		.fa-linkedin {
		  background: #007bb5;
		  color: white;
		}

		.fa-youtube {
		  background: #bb0000;
		  color: white;
		}

		.fa-instagram {
		  background: #125688;
		  color: white;
		}

		.fa-pinterest {
		  background: #cb2027;
		  color: white;
		}

		.fa-snapchat-ghost {
		  background: #fffc00;
		  color: white;
		  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}

		.fa-skype {
		  background: #00aff0;
		  color: white;
		}

		.fa-android {
		  background: #a4c639;
		  color: white;
		}

		.fa-dribbble {
		  background: #ea4c89;
		  color: white;
		}

		.fa-vimeo {
		  background: #45bbff;
		  color: white;
		}

		.fa-tumblr {
		  background: #2c4762;
		  color: white;
		}

		.fa-vine {
		  background: #00b489;
		  color: white;
		}

		.fa-foursquare {
		  background: #45bbff;
		  color: white;
		}

		.fa-stumbleupon {
		  background: #eb4924;
		  color: white;
		}

		.fa-flickr {
		  background: #f40083;
		  color: white;
		}

		.fa-yahoo {
		  background: #430297;
		  color: white;
		}

		.fa-soundcloud {
		  background: #ff5500;
		  color: white;
		}

		.fa-reddit {
		  background: #ff5700;
		  color: white;
		}

		.fa-rss {
		  background: #ff6600;
		  color: white;
		}


		/* tell the container's children to float left: */
		.float-my-children > * {
		    float:left;
		    margin-right:5px;
		}

		/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

		.clearfix {
		    *zoom:1 /* for IE */
		}

		.clearfix:before,
		.clearfix:after {
		    content: " ";
		    display: table;
		}

		.clearfix:after {
		    clear: both;
		}

		.portfolio {
			margin-left: 100px;
		}

		.portfolio .textbox {
			padding-bottom: 50px;
		}

		body{
  			margin: 0 auto;
		}

		.ticker-container {
			position: absolute;
	  		background: black;
			width: 100%;
			overflow: hidden;
	  		margin: 0 auto;
		}

		.ticker-text {
			font-size: 8px;
			height: 100%;
		  	color: #fafafa;
		  	white-space:nowrap;
		  	display:inline-block;
		  	font-family: 'Montserrat', sans-serif;
		  	text-transform: uppercase;
		}


